body {
    background-color: black;
    display: grid;
    place-items: center;
}
div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
h1 {
   flex: 20%;
    color: rgb(245, 210, 210);
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
table{
    flex: 80%;
}
td{
    border:2px solid black; 
    background-color: black;
    cursor: pointer;
}
#t1 {
    border-left: black;
    border-top: black;
}
#t2 {
  
    border-top: black;
}
#t3 {
    border-right: black;
    border-top: black;
}
#t4 {
    border-left: black;
   
}

#t6 {
    border-right: black;
   
}
#t7 {
    border-left: black;
    border-bottom: black;
}
#t8 {
    
    border-bottom: black;
}
#t9 {
    border-right: black;
    border-bottom: black;
}
input {
    width:80px;
    height:80px;
    background-color: black;
    font-size: 50px;
    color:red;
    text-decoration: none;
}

#buttons {
        width:auto;
        height:auto;
        text-decoration: none;
        cursor: pointer;
        margin: 20px;
}
h2 {
    color: rgb(245, 210, 210);
    font-style: italic;
    
}